= form_for [message] do |f|
  - if message.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(message.errors.count, "error")
      %ul
        - message.errors.full_messages.each do |msg|
          %li
            = msg
  .form-group
    = f.text_area :body, rows: 12, class: "form-control", autofocus: true, placeholder: "Enter message text"
  .form-group
    %p
      How would you like to receive your response?
      = f.select :response_type, Message.response_types.keys.to_a, {}, id: "my_select"
  .form-group#name_input
    %p
      What's your name?
      = f.text_field :response_name, class: "form-control", value: @user.name
  .form-group#email_input
    %p
      What's the best email to reach you at?
      = f.text_field :response_email, class: "form-control", value: @user.email
  .form-group#phone_input
    %p
      What's the best phone number to reach you at?
      = f.text_field :response_phone, class: "form-control", value: @user.phone
  .form-group
    = f.submit "Send", class: 'btn btn-success'
