.row
  %h3.text-center
    My Info
  .pull-left
    %h4
      Name:
      = @user.name
    %h4
      email:
      =@user.email
    %h4
      phone number:
      = @user.phone
.buttons.text-center
  - if @user == current_user
    = link_to 'Edit Info', edit_user_registration_path, class: 'btn btn-success'
.row
  %h3.text-center
    My Pets
.row
  .col-xs-3
    %h4
      Name/
      %br group
  .col-xs-3
    %h4
      Animal
  .col-xs-5
    %h4
      description
  .col-xs-1
- @user.pets.each do |pet|
  .row
    .col-xs-3
      %h5
        = pet.name
    .col-xs-3
      %h5
        - if pet.animal_type == 'small_animals'
          = "small animals(#{pet.quantity})" unless pet.quantity == 1
        -else
          = pet.animal_type
          = "(#{pet.quantity})" unless pet.quantity == 1
    .col-xs-5
      %h6.small
        = pet.description
    .col-xs-1
      - if @user == current_user
        = link_to 'edit', edit_user_pet_path(@user, id: pet.id), class: 'pull-right'

.buttons.text-center
  - if @user == current_user
    = link_to 'Add pet', new_user_pet_path(@user), class: 'btn btn-success'
.row
  %h3.text-center
    Upcoming Appointments
- if @user.appointments.where(start_time: Time.current..Time.current+1.years).empty? == false
  .row
    .col-xs-3
      %h4
        Appointment Type
    .col-xs-3
      %h4
        Date
    .col-xs-5
      %h4
        Details
    .col-xs-1
  - @user.appointments.order(:start_time).each do |app|
    - if app.start_time.to_date >= Date.current
      .row{id:"appointment-#{app.id}"}
        .col-xs-3
          %h5
            - case app.appointment_type
              -when 'dog_walking'
                Dog Walking
              -when 'small_animal_hotel'
                Sm Animal Hotel
              -when 'in_home_animal_care'
                In Home Pet Care

        .col-xs-3
          %h6.small
            - if app.appointment_type == 'dog_walking'
              = app.start_time.strftime("%m/%d/%g at %I:%M%p")
            - else
              = "#{app.start_time.strftime('%m/%d/%g')} - #{(app.start_time + (app.duration.days)).strftime('%m/%d/%g')}"
        .col-xs-5
          %h6.small
            = app.total_number_of_animals
            - if app.appointment_type == 'dog_walking'
              dogs for
              = app.duration
              minutes
            -else
              animals for
              = app.duration
              days
            %br
            notes:
            = app.details
        .col-xs-1
          - if @user == current_user
            = link_to 'cancel', user_appointment_path(@user, id: app.id), method: :delete, class: 'pull-right', remote: true
- else
  %h5.text-center
    You have not scheduled any upcomming appointments.
.buttons.text-center
  - if @user == current_user
    = link_to 'Add Appointment', new_user_appointment_path(@user), class: 'btn btn-success'
- if @user.appointments.where(start_time: Time.current - 100.years..Time.current-1.days).empty? == false

  .row
    %h3.text-center
      Past Appointments
  .row
    .col-xs-3
      %h4
        Appointment Type
    .col-xs-3
      %h4
        Date
    .col-xs-5
      %h4
        Details
    .col-xs-1
  - @user.appointments.order(:start_time).each do |app|
    - if app.start_time.to_date <= Date.current
      .row
        .col-xs-3
          %h5
            - case app.appointment_type
              -when 'dog_walking'
                Dog Walking
              -when 'small_animal_hotel'
                Sm Animal Hotel
              -when 'in_home_animal_care'
                In Home Pet Care          .col-xs-3
          %h6.small
            = app.start_time.strftime("%m/%d/%g at %I:%M%p")
        .col-xs-5
          %h6.small
            = app.details
