%h3 Frequently asked Questions
%div
  %ul
    %li
      = link_to "Question One", "#question_one"
    %li
      = link_to "Question Two", "#question_two"
    %li
      = link_to "Question Three", "#question_three"
    %li
      = link_to "Question Four", "#question_four"
    %li
      = link_to "Question Five", "#question_five"
    %li
      = link_to "Question Six", "#question_six"

%div#faqs
  %h4#question_one Question One
  %p Answer to Question One
  %br
  %h4#question_two Question Two
  %p Answer to Question Two
  %br
  %h4#question_three Question Three
  %p Answer to Question Three
  %br
  %h4#question_four Question Four
  %p Answer to Question Four
  %br
  %h4#question_five Question Five
  %p Answer to Question Five
  %br
  %h4#question_six Question Six
  %p Answer to Question Six
  %br
