%h3 Frequently asked Questions
%div
  %ul
    %li
      = link_to "How much experience do you have?", "#question_one"
    %li
      = link_to "Where are you located?", "#question_two"
    %li
      = link_to "How far do you travel for your services?", "#question_three"
    %li
      = link_to "What do I need to provide to take advantage of your services?", "#question_four"
    %li
      = link_to "What payment types do you accept?", "#question_five"


%div#faqs
  %h4#question_one How much experience do you have?
  %p I have spent my entire life taking care of animals of all kinds.  I grew up with dogs, cats, ferrets, hamsters, canaries, lizards, and a parrot.  I currently live with two cats, seven rats, and dog.  I have been volunteering with Mainly Rat Rescue and the MSPCA for the last few years taking care of rats and bunnies while they are waiting to be adopted.
  %br
  %h4#question_two Where are you located?
  %p For my Small Animal Hotel service I operate out of my home in the Millcreek area of South Portland, Maine. For Dog Walking and In Home Animal Care I come to you or your designated meeting place in the Greater Portland Area.
  %br
  %h4#question_three How far do you travel for your services?
  %p I travel within the towns of Portland, South Portland, Cape Elizabeth, and Scarborough for Dog Walking and In Home Animal Care services. I do sometimes take jobs further out for an additional fee, feel free to contact me for additional details on your specific needs.
  %br
  %h4#question_four What do I need to provide to take advantage of your services?
  %p Bring your animal and their leash (for dog walking) and cage(for Small Animal Hotel) and I'll do the rest; these services include food and treats, please make sure to inform me if there are any additional dietary needs.  If I'm caring for the animal in your own home make sure I know where everything they need is located.
  %br
  %h4#question_five What payment types do you accept?
  %p I am not currently set up to accept credit cards, but am happy to take cash, check, google wallet, or pop money payments.
  %br
