
= form_for @appointment, url: {action: "book_appointment"} do |f|
  - if appointment.errors.any?
    %h4
      = pluralize(appointment.errors.count, "error")
    %ul
      - appointment.errors.full_messages.each do |msg|
        %li
          = msg
  .form-group.hidden
    = f.label :appointment_type
    = f.select :appointment_type, options_for_select([['small_animal_hotel','small_animal_hotel']]), id: 'appointment_type_select'

  .form-group
    %h4 What small animals would you like to book a stay for?
    - if @user.pets.small_animals.count > 0
      .form-group
        - @user.pets.each do |pet|
          - if pet.animal_type == "small_animals"
            = check_box_tag(:pet)
            = label_tag(:pet, "#{pet.name}")
            &nbsp &nbsp
        .buttons.text-center
          = link_to "Add animals to your profile", new_user_pet_path(@user), class: 'btn btn-primary'
    - else
      %h6
        You have not added any small animals to your profile;
        = link_to "click here", new_user_pet_path(@user)
        to add one.

    %br
    .form-group
      = label_tag("total number of animals")
      = f.select :total_number_of_animals, options_for_select((1..10).step(1)), class: 'form-control', placeholder: 0
    .form-group
      = label_tag("How many nights will they be staying?")
      = f.select :duration, options_for_select((1..14).step(1))
    .form-group
      = f.date_select :start_time, start_year: Date.current.year
    .form-group
      = f.label :details
      = f.text_area :details, rows: 3, class: "form-control", placeholder: "Enter appointment details here"
    .actions.text-center
      = f.submit "Book Appointment", class: 'btn btn-primary'
