
= form_for @appointment, url: {action: "book_appointment"} do |f|
  - if appointment.errors.any?
    %h4
      = pluralize(appointment.errors.count, "error")
    %ul
      - appointment.errors.full_messages.each do |msg|
        %li
          = msg
  .form-group.hidden
    = f.label :appointment_type
    = f.select :appointment_type, options_for_select([['in_home_animal_care','in_home_animal_care']]), id: 'appointment_type_select'

  .form-group
    %h4 What animals will I be caring for in your home?
    - if @user.pets.count > 0
      .form-group
        - @user.pets.each do |pet|
          = check_box_tag(:pet)
          = label_tag(:pet, "#{pet.name}")
          &nbsp &nbsp
        .buttons.text-center
          = link_to "Add animals to your profile", new_user_pet_path(@user), class: 'btn btn-primary'
    - else
      %h6
        You have not added any animals to your profile;
        = link_to "click here", new_user_pet_path(@user)
        to add one.

    %br
    .row#calendar_view
      - today = DateTime.current
      - if today.cwday !=7
        -today.cwday.times do |n|
          .day
            %h6.past_date
              = (today-(((today.cwday).day)-(n.day))).strftime("%m/%d")
      - 14.times do |n|
        - this_day = (today+(n.days))
        .day
          %h6.date
            = this_day.strftime("%m/%d")
          %h6.date
            - if Appointment.in_home_time?(this_day) == true
              openings available
            - else
              sorry, we're fully booked
    .form-group
      = label_tag("total number of animals")
      = f.select :total_number_of_animals, options_for_select((1..10).step(1)), class: 'form-control', placeholder: 0
    .form-group
      = label_tag("How many days should I be careing for them?")
      = f.select :duration, options_for_select((1..14).step(1))
    .form-group
      = f.date_select :start_time, start_year: Date.current.year, default: Date.tomorrow
    .form-group
      = f.label :details
      = f.text_area :details, rows: 3, class: "form-control", placeholder: "Enter appointment details here"
    .actions.text-center
      = f.submit "Book Appointment", class: 'btn btn-primary'
