.page-header
  %h3
    Book an appointment for pet care
.row
  .col-md-4
    %ul.small
      %li Please include an address where I should meet you/take care of your animals in the description for dog walking and in home animal care services.
      %li Make sure your account has a correct phone number and email address before booking so that I may contact you to confirm any details as necessary.
      %li For dog walking and small animal hotel services payment is due when I bring your dog(s) back or your pick up your little animals. For in home animal care payment is due within three days of your return.
.row
  %h6
    What type of appointment would you like to book?
    - if @user.role == 'standard'
      = select_tag(:appointment_form_selector, options_for_select([["dog walking", 'dog_walking'],["small animal hotel", 'small_animal_hotel'],["in home animal care", 'in_home_animal_care']]),prompt: "select appointment type")
    - elsif @user.role == 'owner'
      = select_tag(:appointment_form_selector, options_for_select([["dog walking", 'dog_walking'],["small animal hotel", 'small_animal_hotel'],["in home animal care", 'in_home_animal_care'],['time off', 'time_off']]),prompt: "select appointment type")

.row#dog_walking_form
  = render partial: 'form', locals: {user: @user, appointment: @appointment}

.row#animal_hotel_form
  = render partial: 'form2', locals: {user: @user, appointment: @appointment}

.row#in_home_form
  = render partial: 'form3', locals: {user: @user, appointment: @appointment}
.row#time_off_form
  = render partial: 'form4', locals: {user: @user, appointment: @appointment}
= javascript_include_tag 'appointments'
