<!DOCTYPE html>
<html>
  <head>
    <title>Jess's site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container" id="content_section">
      <div class="row">
        <div class="col-md-12">
          <br>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
                <%= value %>
            </div>
          <% end %>
          <br>
          <div class="row">
            <nav class="col-xs-3" >
              <br>
              <ul class="nav navbar navbar-left navbar-inverse" id="sidebar">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Services", services_path %></li>
                <li><%= link_to "FAQ", faq_path %></li>
                <li><%= link_to "Contact Us", new_message_path %></li>
                <li><%= link_to "My Account", root_path %></li>
            </nav>
            <div class="col-xs-9 jumbotron">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
